html, body {

/*	position:absolute;
	top: 0;
	left: 0;*/
}

/*.main-container{
	background: url(Assets/RingCloseUp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100vh;
}
*/

.navbar {
	margin-left: 25%;
	max-width: 600px;
}
.navbar{
	/*background: transparent;*/
	background:rgba(211,211,211,.2);
	border-bottom: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
}



@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}



.backdrop{
	z-index: -99999;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden
}

.backdrop .backdrop-fill {
    background-size: cover;
}


.backdrop .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#bannertext { 
	width: 24em; 
	position: fixed; 
	top: 25%; 
	left: 25%; 
	border: .5em solid #fff; 
	margin-left: -12em; 
	padding: 2em 0; 
	color: white;
	font-family: 'Raleway';
}

#bannertext p{
	margin-top: 1em;
	margin-left: 2.5em;
	font-size: 2em;
}

#bannertext h1{
	margin-left: .8em;
}

/*countdown*/


#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

/* end og countdown */


.content, .ourStory, .bigDay, .gallery, .gifts{
	max-height:100%;
	background:rgba(211,211,211,.2);
	width: 50%;
	margin-top: 150px;
	margin-left: 50%;

}

.content p, .ourStory p, .bigDay p, .gallery p, .gifts p{
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;

}

.ourStory, .bigDay,.gallery, .gifts{
	display: none;
}


/* Our story */

.header h1{
	color: white;
	font-family: 'Raleway';
	text-align: center;
	padding-top: 20px;
}

.ourStory>hr{
	border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.polaroid {
  position: relative;
  width: 220px;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 0px #777;
     -moz-box-shadow: 3px 3px 0px #777;
          box-shadow: 3px 3px 0px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
  z-index: 1000;
}

.polaroid{
	margin-left: 25%;
	margin-top: 20px;
}

@media (max-width: 768px){

	.content, .ourStory, .bigDay, .gallery, .gifts{
		max-height:100%;
		background:rgba(211,211,211,.2);
		width: 24em;
		margin-top: 150px;
		margin-left: 1.5em;

	}

	#bannertext { 
		position: static;
		/*top: 500px; */
		margin-top: 40%;
		/*left: 25%; */
		margin-left: 1.5em; 
		padding: 2em 0; 
		
	}

	.polaroid{
		margin-left: 2em;
	}

}
